<programElements><listitem item_icon="icons/justify.png">f</listitem><listitem item_icon="icons/justify.png">pug</listitem><tabwid_name>f<tabName content="ef" tabIcon="icons/folder.png">ef</tabName></tabwid_name><tabwid_name>pug<tabName content="drug" tabIcon="icons/folder.png">drug</tabName></tabwid_name></programElements>